@model IEnumerable<EcWebApp.Models.AtendimentoInfo>

<ul class="timeline">
    @foreach (var item in Model)
    {
        <!-- timeline item -->
        <li>
            <!-- timeline icon -->
            @if (item.Automatico.GetValueOrDefault(false))
            {
                <i class="fa fa-pencil bg-gray"></i>
            }
            else
            {
                <i class="fa fa-phone bg-blue"></i>
            }
            <div class="timeline-item">
                <span class="time"><i class="fa fa-user"></i> @item.RegistradoPor</span>
                <h3 class="timeline-header">@item.DataAtendimento</h3>
                <div class="timeline-body">
                    @item.Comentario
                </div>
            </div>
        </li>
    }
</ul>