@model EcWebApp.ViewModels.PrintContratoInfo
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Espaço Criação | Contrato # @Model.NumeroContrato</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/ionicons.min.css" />
    <!-- Theme style -->
    <link href="~/Content/impressao.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        <!-- Main content -->
        <section class="content">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-3">
                    <img src="~/images/logo-preto-g.png" width="180" alt="Espaço Criacao" />
                </div>
                <div class="col-xs-6">
                    <h3 class="text-center">
                        CONTRATO
                    </h3>
                </div>
                <div class="col-xs-3">
                    <h3 class="text-right">@Model.NumeroContrato</h3>
                </div>
            </div>
            <div class="row">
                <hr />
            </div>
            <!-- /title row -->
            <!-- info row -->
            <div class="row">
                <div class="col-md-12">
                    <p class="text-justify">O COMPRADOR, conforme descrito no período anexo, que integre possui o mesmo número deste CONTRATO DE COMPRA E VENDA; ELABORAÇÃO DE PROJETO E MONTAGEM, na melhor forma de direito, contrata em caráter irrevogável e irretratável como VENDEDORA E PRESTADORA DE SERVIÇOS a empresa MARCIA HELENA SOARES DA SILVA  - ME, pessoa jurídica de direito privado, cessionária exclusiva da marca CASTTINI ,com sede em Rua Afonsina,617 – Loja 02 – Rudge Ramos –São Bernardo do Campo – SP ,inscrita no CNPJ 22.435.555/0001-07,doravante denominada simplesmente fornecedor, para vender e faturar diretos produtos descritos no pedido supracitado e os serviços pertinentes, conforme clausulas e condições abaixo descritas:</p>
                    <p class="text-justify">Os produtos comprados serão entregues e os serviços de montagem executados pelo fornecedor e/ou por meio de empresas especializadas, devendo os produtos serem entregues no prazo de 40 dias corridos da data da assinatura do projeto final, salvo quando especificado o pedido na opção de venda futura, sendo que os serviços de montagem serão iniciados em até 05 (cinco) dias uteis da confirmação da entrega no local. Caso seja constatado que algum componente tenha sofrido avaria durante o transporte ou durante a montagem, antes do termino desta o componente será reparado ou trocado no prazo de 20 dias uteis a partir da constatação do fato.</p>
                    <p class="text-justify">É responsabilidade do COMPRADOR deixar o local de entrega disponível para receber os produtos e nas condições necessárias a realização da montagem, liberando acessos, elevadores, energia elétrica, etc. Eventuais restrições do gênero poderão implicar em atrasos considerados de responsabilidade do COMPRADOR.</p>
                    <p class="text-justify">Em caso de reformas, as mesmas deverão estar devidamente concluídas e os ambientes completamente limpos. A desmontagem e transporte de moveis já existentes e de responsabilidade do COMPRADOR.</p>
                    <p class="text-justify">Fica aos cuidados do COMPRADOR a retirada antes da entrega dos móveis, dê molduras de gesso, rodapés ou qualquer outro acabamento que interfira na instalação dos produtos. Caso nossos técnicos se disponibilizam a retirá-los a loja não se responsabiliza por eventuais danos.</p>
                    <p class="text-justify">A perfeita execução do seu projeto requer, durante a montagem, alguns ajustes de acabamento que poderão provocar resíduos de pó. Além disso, as embalagens dos nossos produtos após abertos geram volumes que ocupam espaços, consideráveis. Após a conclusão da montagem os nossos técnicos estarão aptos a coloca-las para locais previamente indicados pelo COMPRADOR e farão  a limpeza dos resíduos resultantes da montagem e manutenção dos ambientes .Os produtos da marca CASTTINI possuem garantia contra eventuais defeitos aparentes e de fácil constatação oriundos de fábrica, pelo prazo de 90 (Noventa) dias a contar da efetivação da entrega e emissão da nota fiscal, e garantia dos produtos estra para produtos da marca CASTTINI, conforme o componente pelos prazos seguintes:05(cinco) anos de garantia para o móvel e de 90(noventa) d9ias para puxadores, dobradiças e aramados.</p>
                    <p class="text-justify">O FORNECEDOR não está autorizado a manipular tubulações, elétrica, hidráulicas, telefônica, etc., sendo responsabilidade do COMPRADOR a contratação de profissionais especializados nestas áreas, inclusive dedetização contra insetos, visando preservar seu investimento nos móveis, uma vez que avarias decorrentes destes fatores não são cobertas pela garantia, pois caracterizam uso inadequado.</p>
                    <p class="text-justify">Eventuais greves ou falta de matéria primas não constituirão descumprimento contratual, mas podendo ter atendimento com material similar disponível ou dilatação de prazos de entrega e de pagamentos em períodos idênticos. Fazendo o COMPRADOR opção por financiamento, os títulos (boletos, cheques, autorizações de débitos em conta aceita pelo fornecedor) referente a estes contratos serão entregues ao fornecedor serão repassados ao agente Financeiro no ato da aprovação do cadastro e permanecerão na posse deste até o ultimo pagamento, razão pela qual o comprador isenta o FORNECEDOR quando a quaisquer ocorrências relativas aos pagamentos e títulos. As multas, juros e correção monetária, sejam elas decorrentes de inadimplência ou não obedecerão às regras constantes do contrato de financiamento conforme contrato firmado entre comprador e o agente financeiro excluindo-se as aqui pactuadas, razão pela qual eventuais divergências deverão ser diretamente entre o comprador e o agente financeiro, responsável pelos títulos e recebimentos.</p>
                    <p class="text-justify">O COMPRADOR, CONFORME PEDIDO EM ANEXO, QUE INTEGRA E POSSUI O MESMO NUMERO DESTE CONTRATO DE COMPRA E DE VENDA; ELABORAÇÃO DE PROJETOS E MONTAGEM.</p>
                    <p class="text-justify">No caso de desistência, o material já estando em produção o comprador fica responsável em arcar com 20% do valor do pedido para cobrir custos.</p>
                    <p class="text-justify">O projeto será assinado pelo contratante em todas etapas sendo que após a terceira etapa inicia-se o procedimento de aquisição dos móveis, originando a contagem dos prazos estabelecidos neste contrato.</p>
                    <p class="text-justify">No caso seria a assinatura do Projeto Final que anula e substitui qualquer um outro.</p>
                    <p><b>ELEIÇÃO DO FORO</b></p>
                    <p class="text-justify">As partes de comum acordo elegem o foro da comarca de São Bernardo do Campo para diminuir eventuais dúvidas e ações judiciais envolvendo o ora pactuado e, por estarem assim convencionadas, firmam o presente em duas vias e na presença das testemunhas. </p>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-6">
                    Espaço Criação
                </div>
                <div class="col-md-6">
                    Contratante
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">Testemunha 1:</div>
                <div class="col-md-4"><hr /></div>
                <div class="col-md-2">Testemunha 2:</div>
                <div class="col-md-4"><hr /></div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->
</body>
</html>        