@{
    ViewBag.Title = "Indicativos de Desempenho";
    ViewBag.SubTitle = "";
}

<div class="row">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <!-- form start -->
        <form class="form-horizontal" method="post" action="@Url.Action("Exportar")">
            <div class="box-body">
                <div class="row">
                    <div class="form-group">
                        <label for="Formato" class="col-md-1 control-label">Formato</label>
                        <div class="col-md-2">
                            <select id="Formato" name="Formato" class="form-control">
                                <option value="D">Dias / Mês</option>
                                <option value="M">Meses / Ano</option>
                            </select>
                        </div>
                        <label for="IdVendedor" class="col-md-1 control-label">Vendedor</label>
                        <div class="col-md-6">
                            @Html.DropDownList("IdVendedor", null, "Todos", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">&nbsp;</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="Periodo" class="col-sm-1 control-label">Período</label>
                        <div class="col-sm-2">
                            <select id="Periodo" name="Periodo" class="form-control"></select>
                        </div>
                        <div class="col-md-1">&nbsp;</div>
                        <div class="col-sm-8">
                            <button type="button" id="btnVisualizar" class="btn btn-info">Visualizar</button>
                            <button type="submit" class="btn btn-info">Exportar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </form>
    </div>
</div>

<!-- Report Partial View -->
<div class="row" id="divReport"></div>

@section scripts {
    <script>
        $(function () {
            $("#Formato").change(function () {
                CarregaComboPeriodo();
            });

            $("#btnVisualizar").click(function () {
                $("#divReport").html("<span></span>");
                var formato = $("#Formato").val();
                var periodo = $("#Periodo").val();
                var vendedor = $("#IdVendedor").val();

                $.get('@Url.Action("Exibir")', { pFormato: formato, pPeriodo: periodo, pIdVendedor: vendedor }, function (result) {
                    $("#divReport").html(result);
                });
            });

            CarregaComboPeriodo();
        });

        function CarregaComboPeriodo() {
            var opcao = $("#Formato").val();
            $.getJSON('@Url.Action("ComboPeriodo")', { formato: opcao }, function (result) {
                var $cboPeriodo = $("#Periodo");
                $cboPeriodo.empty();
                $.each(result, function (index, value) {
                    $cboPeriodo.append($("<option></option>").attr("value", value).text(value));
                });
            });
        }
    </script>
}
