@{
    //ViewBag.Title = "Conta XXX";
    //ViewBag.SubTitle = "periodo";
}

@section header {
    <link rel="stylesheet" href="~/Content/iCheck/minimal/blue.css" />
}

<div ng-controller="financasCtrl">
    <div class="row">
        <div class="col-md-7">
            <div class="box box-primary">
                <div class="box-body">
                    <table class="table">
                        <tr>
                            <td>
                                <h6>Saldo Anterior:</h6>
                                <h5>{{extrato.SaldoAnterior | currency:"R$"}}</h5>
                            </td>
                            <td>
                                <h6>Recebimentos:</h6>
                                <h5 class="text-green">{{extrato.Recebimentos | currency:"R$"}}</h5>
                            </td>
                            <td>
                                <h6>Pagamentos:</h6>
                                <h5 class="text-red">{{extrato.Pagamentos | currency:"R$"}}</h5>
                            </td>
                            <td>
                                <h6>Saldo Atual:</h6>
                                <h5>{{extrato.SaldoAtual | currency:"R$"}}</h5>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- /.box -->
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Lançamentos Atuais</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Lançamentos Futuros</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <table class="table table-striped table-bordered table-condensed">
                            <colgroup>
                                <col width="15%" />
                                <col width="65%" />
                                <col width="20%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Descrição</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in extrato.Lancamentos">
                                    <td>{{item.DataFormatada}}</td>
                                    <td>
                                        <span style="font-size:10px">{{item.Categoria.Descricao}}</span><br />
                                        {{item.Descricao}}
                                    </td>
                                    <td style="text-align: right"><span class="{{item.ClasseCSS}}">{{item.Valor | currency:"R$"}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane1 -->
                    <div class="tab-pane" id="tab_2">
                        <table class="table table-striped table-bordered table-condensed">
                            <colgroup>
                                <col width="05%" />
                                <col width="15%" />
                                <col width="60%" />
                                <col width="20%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Data</th>
                                    <th>Descrição</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in extrato.LancFuturos">
                                    <td style="text-align: center">
                                        <a ng-click="DelLancamentos(item)" data-toggle="tooltip" title="Excluir Lançamento">
                                            <i class="fa fa-remove text-red"></i>
                                        </a>
                                    </td>
                                    <td>{{item.DataFormatada}}</td>
                                    <td>
                                        <span style="font-size:10px">{{item.Categoria.Descricao}}</span><br />
                                        {{item.Descricao}}
                                    </td>
                                    <td style="text-align: right"><span class="{{item.ClasseCSS}}">{{item.Valor | currency:"R$"}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane2 -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
        <div class="col-md-5">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Novo Lançamento</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>
                                        <input type="radio" id="TipoLancamento" name="TipoLancamento" class="minimal" value="2" ng-model="novoLanc.TipoD" ng-change="CarregaComboCategoria(2);" />
                                        &nbsp;Pagamento
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label>
                                        <input type="radio" id="TipoLancamento" name="TipoLancamento" class="minimal" value="1" ng-model="novoLanc.TipoC" ng-change="CarregaComboCategoria(1);" />
                                        &nbsp;Recebimento
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Categoria">Categoria</label>
                            <select class="form-control" id="cmbCategoria" name="cmbCategoria" ng-model="novoLanc.IdCategoria" ng-disabled="!novoLanc.TipoD && !novoLanc.TipoC">
                                <option value="">Selecione..</option>
                                <option ng-repeat="item in ListaCategorias" ng-value="item.IdCategoria">{{item.Descricao}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Descricao">Descrição</label>
                            <input type="text" class="form-control" ng-model="novoLanc.Descricao" />
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label id="lblDataPagto" for="DataPagamento">Data</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" id="DataProcessamento" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Valor">Valor</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            R$
                                        </div>
                                        <input type="text" class="form-control" ng-model="novoLanc.Valor" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Repeticao">Repetição</label>
                        </div>
                        <div class="row" style="margin-top: -15px">
                            <div class="col-sm-8">
                                <select class="form-control col-md-3" ng-model="novoLanc.Repeticao">
                                    <option value="">Selecione..</option>
                                    <option value="0" ng-selected="true">Evento Único</option>
                                    <option value="3">Mensal</option>
                                    <option value="4">Anual</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="novoLanc.Vezes" ng-disabled="novoLanc.Repeticao !== '3' && novoLanc.Repeticao !== '4'" />
                                    <div class="input-group-addon">
                                        Vezes
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px">
                            <label for="Comentario">Observação</label>
                            <input type="text" class="form-control" ng-model="novoLanc.Comentario" />
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <input type="hidden" id="IdConta" value="@ViewBag.IdConta" />
                        <input type="hidden" ng-model="novoLanc.IdConta" ng-init="novoLanc.IdConta = '@ViewBag.IdConta'" />
                        <input type="hidden" ng-model="novoLanc.TipoLancamento" />
                        <input type="hidden" ng-model="novoLanc.DataProcessamento" />
                        <button type="button" class="btn btn-primary" ng-click="AddLancamento(novoLanc)" title="Salvar Lançamento">Salvar</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Areas/Financas/Scripts/ngLancamentos.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            //    checkboxClass: 'icheckbox_minimal-blue',
            //    radioClass: 'iradio_minimal-blue'
            //});

            $("#DataProcessamento").datetimepicker({
                locale: 'pt-BR',
                format: 'L'
            });

            var msg = "@ViewBag.MsgErro";
            if (msg != "OK" && msg != "") {
                bootbox.alert(msg);
            }
        });
    </script>
}
